# Comments & Basic Data Types

In [1]:
# this is a comment

In [2]:
print("Hello")      # this is a comment

Hello

In [3]:
"""
    This is a comment
"""
print("Hello")     # this is a comment

Hello

In [4]:
# the following are all integers
print(2)
print(10)

2
10

In [5]:
# the following are all floats
print(10.953)
print(8.0)   #even 8.0 is a float

10.953
8.0

In [6]:
# the following are booleans
print(True)
print(False)

True
False

In [7]:
# the following are string
print(" ")
print("Big Man Jenkins")
print('Trueeeee (2chainz voice)')

Big Man Jenkins
Trueeeee (2chainz voice)

In [18]:
print('Corey Hawthorne')

Corey Hawthorne

## Variables

In [19]:
num1 = 5       # storing an integer into a variable
num2 = 8.4     # storing a float into a variable
print(num1, num2)  # you can print multiple times using commas

5 8.4

In [21]:
# storing a boolean into a variable
switch = True
print(switch)

True

In [22]:
# storing strings into variables
name = 'Corey Hawthorne'
fav_number = '4'
print(name, fav_number)

Corey Hawthorne 4

In [23]:
# using two variables to create another variable
result = num1 + num2
print(result)

13.4

In [24]:
# adding, deleting, multiplying, dividing from a variable
result += 1        # same as saying result = result + 1
print(result)
result *= num1     # same as saying result = result * num1
print(result)

14.4
72.0

In [25]:
# defining a variable and overwriting its value
name = 'Corey'
print(name)
name = 'Cdog'
print(name)

Corey
Cdog

In [30]:
x = 3
y = 10
result = (x + y)
print(result)

13

In [33]:
w = 245.54
h = 13.66 
result = (w * h)
print(result)

3354.0764

## Working with Strings

In [34]:
#using the addition operator with variables
first_name = "Corey"
last_name = "Hawthorne"
full_name = first_name + " " + last_name
print(full_name)

Corey Hawthorne

In [14]:
# injecting variables using the format method
name = "Corey"
print( "Hello {}".format("Corey") )
print( "Hello {}, you are {} years old!".format("Corey","26"))

Hello Corey
Hello Corey, you are 26 years old!

In [12]:
# using the new f strings
name = "Corey"
print( f"Hello {name}" )

Hello Corey

In [15]:
# one major difference between versions 2 & 3
name = "Corey"
print ("Hello, %s" % name)

Hello, Corey

In [17]:
# python 2 multiple variable formatting
first_name = "Corey"
last_name = "Hawthorne"
print( "Hello, %s %s" % (first_name, last_name))
# surround the variables in parenthesis

Hello, Corey Hawthorne

In [20]:
# using indexes to print each element
word = "Hello"
print( word [ 0 ])     # will output 'H'
print( word [ 1 ])     # will output 'e'
print( word [ -1 ])     # will output 'o'

H
e
o

In [21]:
word = "Hello"
print( word[ 0 : 2 ])    # will output 'He'

He

In [22]:
word = "Hello"
print( word[ 0 : 5 : 2 ])  # will output 'Hlo'

Hlo

In [23]:
# Wednesday Excercises Chapter 2
num_1 = "23"
num_2 = "4.5"
nah = False
name = "Corey"
print (num_1, num_2, nah, name)

23 4.5 False Corey

In [24]:
name = "Corey"
print( "{}'s favorite sport is {}.".format( "Corey","basketball") )

Corey's favorite sport is basketball.

In [26]:
name = "Corey"
print( "{} is working on {} programming!".format( "Corey", "Python"))

Corey is working on Python programming!

## Manipulating Strings

In [29]:
# using the title method to captialize a string
name = "corey hawthorne"
print( name.title() )

Corey Hawthorne

In [30]:
# replacing an exclamation point with a period
words = "Hello there!"
print ( words.replace( "!", "."))

Hello there.

In [31]:
# finding the starting index of our searched term
s = "Look over that way"
print( s.find("over"))

5

In [36]:
# removing whte spaces with strip
name = "  Corey  "
print( name.lstrip(), name.rstrip() )

Corey     Corey

In [37]:
# converting a string into a list of words
s = "These words are separated by spaces"
print( s.split(" ") )

['These', 'words', 'are', 'separated', 'by', 'spaces']

In [38]:
word = "uppercase"
print( word.upper() )

UPPERCASE

In [3]:
name = "$$Corey"
print( name.lstrip("$") )

Corey

## Friday Project: Printing Receipts

In [44]:
# create a product and price for three items
p1_name, p1_price = "Soup", 8.50
p2_name, p2_price = "Chicken Pasta", 12.99
p3_name, p3_price = "Million Dollar Cobb Salad" , 14.50

# create a company name and information
company_name = "corey's kitchen"
company_address = "283 Jenkins St."
company_city = "Raleigh, NC"

# declare ending message
message = "Thanks for shopping with us today!"

#create a top border
print( "*" * 50)

# print company information first, using format
print("\t\t corey's kitchen".title() )
print("\t\t 283 Jenkins St.")
print("\t\t Raliegh, NC")

#print a line between sections
print( "=" * 50 )

# print out header for section of items
print("\tProduct Name\tProduct Price")

# create a print statement for each product
print( "\t Soup\t\t$ 8.50 ") 
print( "\t Chicken Pasta\t$ 12.99 ")
print( "\t Cobb Salad\t$ 14.50")

#print a line between sections
print( '=' * 50)

# print out header for section of total
print("\t\t\tTotal")

#calculate total price and print out
total = p1_price + p2_price + p3_price
print ("\t\t\t${}".format(total) )

#print a line between sections
print( '=' * 50 )

# output thank you meesage
print( "\n\t{}\n".format(message) )

# create a bottom border
print( "*" * 50)

**************************************************
		 Corey'S Kitchen
		 283 Jenkins St.
		 Raliegh, NC
==================================================
	Product Name	Product Price
	 Soup		$ 8.50
	 Chicken Pasta	$ 12.99
	 Cobb Salad	$ 14.50
==================================================
			Total
			$35.99
==================================================

	Thanks for shopping with us today!

**************************************************